#history {
  text-align: left;
  font-size: x-small;
}

#correct {
  color: green;
}

#failed {
  color: red;
}

.highlight {
  box-shadow: inset 0 0 6px 6px rgba(0, 180, 0, 0.2);
}

.blunderhighlight {
  box-shadow: inset 0 0 6px 6px rgba(180, 0, 0, 0.5);
}

.goodmovehighlight {
  box-shadow: inset 0 0 6px 6px rgba(0, 210, 0, 0.5);
}

.controlledwhite {
  box-shadow: inset 0 0 32px 32px rgba(180, 180, 0, 0.8);
}

.controlledblack {
  box-shadow: inset 0 0 32px 32px rgba(0, 180, 180, 0.8);
}

.controlledboth {
  box-shadow: inset 0 0 32px 32px rgba(100, 80, 80, 0.8);
}


.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.column-left {
  width: 33%;
}

.column-center {
  width: 33%;
  padding: 4px;
}

.column-right {
  width: 33%;
  padding: 5px;
}


.outcome {
  box-shadow: inset 0px 0px 14px -3px #f2fadc;
  background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
  border-radius: 6px;
  padding-top: 2px;
  padding-bottom: 1px;
  text-align: center;
  margin: 1px;
  visibility: hidden;
  border: 0.5px solid #777777;
  padding: 20px;
  width: 50%;
}

.newhighscore {
  box-shadow: inset 0px 0px 14px -3px #f2fadc;
  background: linear-gradient(to bottom, #e6ffc4 5%, #a8ff92 100%);
  border-radius: 6px;
  padding-top: 2px;
  padding-bottom: 1px;
  text-align: center;
  margin: 1px;
  border: 0.5px solid #777777;
  padding: 20px;
  width: 50%;
  visibility: hidden;
}

input[type="text"] 
{
    width: 100%;
    border: 1px solid #aaa;
}


.highscoretable {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.highscorebox {
  display: grid;
  grid-template-columns: minmax(auto, 5em) 1em;
  box-shadow: inset 0px 0px 14px -3px #2fadc;
  background: linear-gradient(to bottom, #2f2f2d 5%, #111311 100%);
  border-radius: 6px;
  padding-top: 2px;
  padding-bottom: 1px;
  text-align: center;
  margin: 1px;
  border: 0.5px solid #484747;
  padding: 5px;
  width: 6em;
}

.highscoreheader {
  grid-column-start: 1;
  grid-column-end: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highscoreplayer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.highscorescore {
  text-align: right;
}

.gold a:visited,
.gold a:link {
  color: yellow;
}

.silver a:visited,
.silver a:link {
  color: lightgrey;
}

.bronze a:visited,
.bronze a:link {
  color: orange;
}

a:link {
  text-decoration: none;
  color: grey;
}

a:visited {
  text-decoration: none;
  color: grey;
}



#score, #timer {
  font-family: monospace;
  vertical-align: middle;
  font-size: large;
  display:inline;
}

#continue {
  background-color: rgba(100, 100, 100, 0.2);

  background-repeat: no-repeat;
  border: 0.5px solid;
  border-color: rgba(100, 100, 100, 0.3);
  border-radius: 6px;
  padding: 4px;
}

body {
  background-color: #1a1a1a;
  background-image: linear-gradient(to bottom, #2c2c2c, #1a1a1a 116px);
  color: #929292;
}
