body {
  font: 13px Verdana;
  background: #222222;
  text-align: center;
}

body,
select,
input,
textarea {
  color: #aaa;
}

a {
  color: #77f;
}

a:hover {
  color: #69f;
}

h1 {
  margin:0px,0px,0px,0px;
  padding:0px;
}

.tagline {
  border: 0;
  padding:0px;
  margin:0px,0px,0px,0px;
}

#clock {
  color: #008800;
  font-size: 150%;
  margin: 0 auto;
}

#info {
  position: absolute;
  top: 50px;
}

.feature {
  box-shadow: inset 0px 0px 14px -3px #f2fadc;
  background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
  background-color: #dbe6c4;
  border-radius: 6px;
  display: inline-block;
  color: #757d6f;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ced9bf;
  width: 250px;
  padding-top: 2px;
  padding-bottom: 1px;
  text-align: center;
  margin: 1px;
}

#w-checking-squares.feature {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  border: 1px solid #d02718;
  display: inline-block;
  color: #ffffff;
  text-shadow: 0px 1px 0px #810e05;
}

#b-checking-squares.feature {
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border: 1px solid #ffaa22;
  display: inline-block;
  color: #333333;
  text-shadow: 0px 1px 0px #ffee66;
}

#w-loose-pieces.feature,
#b-loose-pieces.feature {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border: 1px solid #84bbf3;
  color: #ffffff;
  text-shadow: 0px 1px 0px #528ecc;
}

#w-queen-forks.feature,
#b-queen-forks.feature,
#w-pawn-forks.feature,
#b-pawn-forks.feature,
#w-rook-forks.feature,
#b-rook-forks.feature,
#w-bishop-forks.feature,
#b-bishop-forks.feature,
#w-knight-forks.feature,
#b-knight-forks.feature {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #bf9dca 5%, #9c60ca 100%);
  background-color: #dfbdfa;
  border: 1px solid #c584f3;
  color: #ffffff;
  text-shadow: 0px 1px 1px #9752ac;
}

.feature.inactive {
  opacity: 0.1;
  transition: opacity 1s ease-in-out;
}

.feature.complete {
  opacity: 0.2;
  transition: opacity 1s ease-in-out;
}

.highlight-w-loose-pieces,
.highlight-b-loose-pieces {
  box-shadow: inset 0 0 15px 5px #79bbff;
}

.highlight-w-checking-squares {
  box-shadow: inset 0 0 25px 25px rgba(220, 20, 20, 0.8);
}

.highlight-b-checking-squares {
  box-shadow: inset 0 0 25px 25px rgba(220, 220, 20, 0.8);
}

.highlight-b-pinned-pieces,
.highlight-w-pinned-pieces {
  box-shadow: inset 0 0 25px 25px rgba(50, 100, 50, 0.8);
}

.highlight-w-queen-forks,
.highlight-w-knight-forks,
.highlight-w-bishop-forks,
.highlight-w-rook-forks,
.highlight-w-pawn-forks,
.highlight-b-queen-forks,
.highlight-b-knight-forks,
.highlight-b-bishop-forks,
.highlight-b-rook-forks,
.highlight-b-pawn-forks {
  box-shadow: inset 0 0 30px 30px rgba(153, 51, 255, 0.8);
}

.highlight-b-hidden-attacks,
.highlight-w-hidden-attacks {
  box-shadow: inset 0 0 30px 30px rgba(51, 51, 255, 0.8);
}

.highlight-b-mate-in-one-threats,
.highlight-w-mate-in-one-threats {
  box-shadow: inset 0 0 30px 30px rgba(51, 251, 95, 0.6);
}

.highlight-b-mating-squares,
.highlight-w-mating-squares {
  box-shadow: inset 0 0 30px 30px rgba(251, 0, 0, 0.9);
}

.full {
  color: #ffff00;
  text-shadow: 0px 2px 8px #000000;
  display: inline-block;
}

hr {
  padding: 0px;
  margin: 1px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}

.whiteFeatures {
  text-align: right;
}

.blackFeatures {
  text-align: left;
}
