.all {
    display: inline-block;
}

.mainboard {
    margin-left: 30%;
}

.featuresall {
    margin: 0 auto;
    width: 30%;
    float: left;
    text-align: center;
}

.features {}

.feature {
    margin: 3px;
    padding: 1px;
    border: 1px solid black;
    list-style-position: inside;
}

.star.selected {
  color: #ffff00;
  text-shadow: 0px 2px 8px #000000;
  display: inline-block;
}