.featuresall {
    width: 100%;
    margin: 0 auto;
    float: left;
    text-align: center;
}

.features {
    padding: 2px;
    margin: 1px;
    padding-top: 2px;
}

.feature {
    margin: 1px;
    padding: 0px;
    padding-top: 2px;
    list-style-position: inside;
}

.star.selected {
    color: #ffff00;
    text-shadow: 0px 2px 8px #000000;
    display: inline-block;
}

.star.found {
    color: #ffff00;
    text-shadow: 0px 2px 8px #000000;
    display: inline-block;
    font-size: 250%;
    font-weight: lighter;
}

.star.white {
    color: #999999;
    text-shadow: 0px 2px 8px #000000;
    display: inline-block;
    font-size: 250%;
    font-weight: lighter;
    height: 20;
}

.star.black {
    color: #000000;
    text-shadow: 1px 1px 6px #cccccc;
    display: inline-block;
    font-size: 250%;
    font-weight: lighter;
}

.instructions {
    list-style: inside disc;
}

.author {
    text-align: right;
}

.feninput {
    margin-left: 20px;
}

.explanation {
    padding-left: 10px;
}

.action {
    width: 100px;
    margin-left: 70px;
}
