.featuresall {
    width: 100%;
    margin: 0 auto;
    float: left;
    text-align: center;
}

.features {
    padding: 2px;
    margin: 1px;
    padding-top: 2px;
}

.feature {
    margin: 1px;
    padding: 0px;
    padding-top: 2px;
    list-style-position: inside;
}

.star.selected {
    color: #ffff00;
    text-shadow: 0px 2px 8px #000000;
    display: inline-block;
}

.star.found {
    color: #ffff00;
    text-shadow: 0px 2px 8px #000000;
    display: inline-block;
    font-size: 250%;
    font-weight: lighter;
}

.star.white {
    color: #999999;
    text-shadow: 0px 2px 8px #000000;
    display: inline-block;
    font-size: 250%;
    font-weight: lighter;
    height: 20;
}

.star.black {
    color: #000000;
    text-shadow: 1px 1px 6px #cccccc;
    display: inline-block;
    font-size: 250%;
    font-weight: lighter;
}

.instructions {
    list-style: inside disc;
}

.author {
    text-align: right;
}

.feninput {
    margin-left: 20px;
}

.explanation {
    padding-left: 10px;
}

.action {
    width: 100px;
    margin-left: 70px;
}

.selectblack {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #000;
    color: #666;
    margin-left: 30px;
}

.progress {
    white-space: pre;
    display: inline-block;
    min-height: 1px;
    border-radius: 4px;
    margin: 1px;
    width: 40px;
    height: 32px;
    text-align: center;
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #9d4 5%, #791 100%);
    background-color: #77d42a;
    border: 1px solid #268a16;
    color: #444;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima;
    font-size: 12px;
    font-weight:lighter;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ccc;
    transition: all 0.5s ease;
    padding-top: 4px;
    padding-bottom: 0px;
}

.progress:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.progress.target.white {
    text-shadow: 0px 1px 0px #fff;
    box-shadow: inset 0px 1px 0px 0px #fff;
    background: linear-gradient(to bottom, #ddd 5%, #aaa 100%);
    border: 1px solid #888;
}

.progress.target.black {
    color: #bbb;
    text-shadow: 0px 1px 0px #111;
    box-shadow: inset 0px 1px 0px 0px #eee;
    background: linear-gradient(to bottom, #222 5%, #000 100%);
    border: 1px solid #444;
}

.progress.complete.bonus {
    box-shadow: inset 0px 2px 0px 0px #eee;
    background: linear-gradient(to bottom, #fd0 5%, #b60 100%);
    border: 1px solid #654;
}

.progress.pending {
    cursor: default;
    box-shadow: inset 0px 1px 0px 0px #333;
    background: none;
    border: 1px solid #222;
}

.progress-marker {
    height: 16px;
    font-weight: bold;
}

.breakbar {
    background-color: #444;
    padding: 1px;
    vertical-align: middle;
}

.breakarea {
    top: 0;
    left: 0;
    float: right;
    background-color: #555;
    width: 33%;
}

.breakbarindicator {
    position: absolute;
    margin-top: 1px;
    z-index: 10;
    float: left;
    height: 15px;
    transition: all 0.5s ease;
    background-color: #2a2;
    opacity: 0.5;
}

.breakbarindicator.gold {
    background-color: #dc1;
    opacity: 0.9;
}

.center {
    padding-left: 8px;
}

.score {
    transition: all 0.5s ease;
    font-size: large;
}

.score.final {
    transition: all 1.5s ease;
    transform: scale(2.0);
    font-size: large;
    color: #ff2;
}

.newgame {
    text-align: center;
    margin-bottom: 4px;
}





.rhythm {
    position: absolute;
    margin-top: 1px;
    z-index: 10;
    float: left;
    height: 15px;
    background-color: #2a2;
    opacity: 0.5;
}
